.about-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
}

.about-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  gap: 16px; /* Space between grid items */
  align-items: stretch;
}

@media (max-width: 1200px) {
  .about-grid {
    grid-template-columns: 1fr; /* Switch to a single column */
  }
}

.grid-item {
  padding: 10px;
  border-radius: 8px;
  background-color: var(--border-color);
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  height: 100%;
}

.grid-item-title {
  color: var(--light-gray-70);
  font-size: var(--fs-3);
  font-weight: var(--fw-500);
  margin-left: 10px;
}

.info-icon {
  color: var(--icon-color-mini);
  transition: color 0.5s;
  font-size: 40px;
}

.info-icon-mini {
  color: var(--icon-color-mini);
  transition: color 0.5s;
  font-size: 20px;
  margin-right: 3px;
}
