* {
  padding: 0;
  margin: 0px;
  font-family: "Fira Code", sans-serif;
}

/* html.fp-enabled body {
  margin-top: 50px;
} */

h1 {
  color: #fff;
  text-align: left;
  font-size: 8vw;
  margin-left: 200px;
  margin-bottom: 20px;
}

.title-rob{
  color:#323232;
  -webkit-text-stroke: 0.2vw #fff;
  position: relative;
  width: fit-content;
}

.title-rob::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width:0;
  height:100%;
  color:#fff;
  -webkit-text-stroke: 0vw;
  border-right: 2px solid #fff;
  overflow: hidden;
  animation: animate 8s linear 1s infinite running;
}
@keyframes animate {
  0%,50%,100%{
    width: 0;
  }
  70%,90%{
    width: 100%;
  }
}

h2 {
  color: #fff;
  text-align: left;
  font-size: 5vw;
  margin-left: 150px;
  margin-bottom: 40px;
}

h3 {
  color: #fff;
  text-align: left;
  font-size: 3vw;
  margin-bottom: 10px;
}

.bio-body, .port-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  margin-left: 200px;
  margin-right: 200px;
}

.project-overview{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: fit-content;
  margin-left: 150px;
  margin-right: 200px;
  margin-bottom: 200px;
  margin-top: 60px;
  color: #fff;
}

.footer{
  position: fixed;
  bottom: 5%;
  width: 100%;
}

.slide-footer{
  position: fixed;
  bottom: 5%;
  width: 50%;
}

.socials-footer {
  display: flex;
  justify-content: center;
}

.social-icon {
  margin: 1rem;
  transition: transform .2s; /* Animation */
}

.social-icon:hover{
  transform: scale(2);
}

a {
  color: #fff;
  text-align: center;
}

p {
  color: #fff;
  text-align: left;
  font-size: 2vw;
}

div#fp-nav a span {
  background: rgb(255, 255, 255) !important;
}

div.fp-slidesNav a span {
  background: rgb(255, 255, 255) !important;
}

.vertical-scrolling{
  text-align:center;
}

.fp-controlArrow{
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  width: 70px;
  height: 90px;
  z-index: 99;
  background: 0 0;
  border: 0;
  outline: 0;
  margin-left: 30px;
  margin-right: 30px;
}

.flex-container {
  display: flex;
  flex-wrap:wrap;
}

.flex-child {
  flex: 1;
  min-width:300px;
}  

.flex-child:first-child {
  margin-right: 20px;
} 
.flex-child:last-child {
  margin-right: 100px;
} 

.port-blog{
  overflow-y: auto;
  max-height: 420px;
}

.port-blog-body{
  color: #fff;
  text-align: left;
  font-size: 2vw;
}

.blog-image {
  text-align: center;
}

.img-resp {
  width: 100%;
  height: auto;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}